.navbar {
    display: flex; /* Garante o comportamento flex */
    justify-content: space-between; /* Distribui os elementos */
    align-items: center; /* Centraliza verticalmente */
}

.navbar .ms-auto {
    margin-left: auto; /* Garante que os botões vão para a direita */
    display: flex;
    align-items: center;
}

#buscar {
    margin-right: 10px; /* Espaço entre os botões */
}

/* Estilo do card de perfil */
.profile-card {
    background-color: #f8f9fa; /* Cinza claro */
    border: 1px solid #007bff; /* Azul */
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

/* Formulários */
.form-control[disabled] {
    background-color: #e9ecef; /* Cinza claro */
    color: #495057; /* Cinza escuro */
}

.btn-primary {
    background-color: #007bff; /* Azul */
    border-color: #007bff;
}

/* Abas */
.tab-pane {
    display: none; 
}

.tab-pane.active {
    display: block; 
}

/* Botões */
.button-container {
    display: flex;
    overflow-x: auto;  
    padding: 10px 0;
}

.button-container .btn {
    flex: 0 0 auto;
    margin-right: 10px; 
}

.sub-buttons {
    display: none;
}

.show-sub-buttons .sub-buttons {
    display: flex;
}

/* Tabela */
.table td.st-col {
    color: #ebebeb !important; /* Branco */
    font-weight: bold;
}

/* Colunas específicas */
.st-col {
    text-align: center;
    font-weight: bold;
    width: 50px;
    color: white;
}
